######################
# IntelliJ
######################
.idea

######################
# Visual Studio Code
######################
.vscode/*
!.vscode/settings.json

######################
# Configuration
######################
application-local*.yaml
